# coding: utf-8

"""
    QRAPI

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from enzona_qr.api_client import ApiClient


class ObtieneLaInformacinDeUnQRApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def qr_qr_code_get(self, qr_code, **kwargs):  # noqa: E501
        """qr_qr_code_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.qr_qr_code_get(qr_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str qr_code: Código del QR a buscar (required)
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.qr_qr_code_get_with_http_info(qr_code, **kwargs)  # noqa: E501
        else:
            (data) = self.qr_qr_code_get_with_http_info(qr_code, **kwargs)  # noqa: E501
            return data

    def qr_qr_code_get_with_http_info(self, qr_code, **kwargs):  # noqa: E501
        """qr_qr_code_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.qr_qr_code_get_with_http_info(qr_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str qr_code: Código del QR a buscar (required)
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['qr_code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method qr_qr_code_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'qr_code' is set
        if ('qr_code' not in params or
                params['qr_code'] is None):
            raise ValueError("Missing the required parameter `qr_code` when calling `qr_qr_code_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'qr_code' in params:
            path_params['qr_code'] = params['qr_code']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['default']  # noqa: E501

        return self.api_client.call_api(
            '/qr/{qr_code}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2001',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
